aiodns==1.1.1
aiohttp==3.5.4
async-timeout==3.0.1
attrs==18.2.0
backtrader==1.9.69.122
ccxt==1.18.152
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
idna==2.8
idna-ssl==1.1.0
kiwisolver==1.0.1
matplotlib==3.0.2
multidict==4.5.2
numpy==1.16.0
pandas==0.23.4
Pillow==5.4.1
pkg-resources==0.0.0
plotting==0.1.0
pycares==2.4.0
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
scipy==1.2.0
six==1.12.0
typing-extensions==3.7.2
urllib3==1.24.1
yarl==1.1.0
